* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #008888;
	line-height: 60px;
	font-weight: 700;
}

h2 {
	border-color: black; 
	border-width: 2px;
        font-weight: 700;
	font-size: 24px;
	color: #008888;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #008888;

 	line-height: 24px;
 	font-weight: 700;
 }

 strong {
 	font-size: 18px;
 	color: purple;
 	line-height: 24px;
	font-weight: 700;
 }

 a {
 	font-size: 14px;
 	color: #008888;
 	line-height: 17px;
 }

.mainBody{
	background-image: url("background.jpg");
}
.updBody{
        background-color: grey;
 
}
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.logbtn{

	width: 80px;
}
.btn {
	width: 150px; 
	padding: 20px;
	margin: 0;
	border-color: #FFFFFF;
	border-width: 2px;
	color: #008888;
}
.btn:hover {
	border-color: #9FB80A;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.menuDiv {

   float: left;
}
.absolute {
      position: absolute;
      top: 150px;
      left: 50px;
}
